# Analizando un poco la data

In [1]:
#import all libraries!
import pandas as pd # el as pd es un alias, hace el codigo un poco mas corto

In [2]:
#importemos (carguemos en memoria) la data
#pandas carga la data como un dataframe o matriz, tal como si tuvieramos un spreadsheet

data = pd.read_csv('data/titanic.csv')

#previsualicemos la data
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#cual es la dimension (filas, columnas) de mi dataframe?
print data.shape

(891, 12)

In [4]:
# Tengo datos completos para todos los registros?
# el metodo count cuanto cada registro(fila) que tenga datos
# podemos ver que por ejemplo para la columna Cabin tengo algunos registros sin datos
print data.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [5]:
# Pero tener datos, no significa tener datos "limpios"
# Podemos ver en la previsualizacion que para la columna Cabin tengo algunos NaN, el cual en python 
# es interpretado como un valor nulo o Null, lo cual me podria traer problemas cuando analice la data
# contemos cuantos datos nulos tenemos

# 1. Obtener los nombres de las columnas como una lista
col_names = data.columns.tolist()
# 2. Iterar sobre la lista
for column in col_names:
    print "Valores nulos en <{0}>: {1}".format(column, data[column].isnull().sum())

Valores nulos en <PassengerId>: 0
Valores nulos en <Survived>: 0
Valores nulos en <Pclass>: 0
Valores nulos en <Name>: 0
Valores nulos en <Sex>: 0
Valores nulos en <Age>: 177
Valores nulos en <SibSp>: 0
Valores nulos en <Parch>: 0
Valores nulos en <Ticket>: 0
Valores nulos en <Fare>: 0
Valores nulos en <Cabin>: 687
Valores nulos en <Embarked>: 2

In [6]:
# Imagina que para fines de simplicidad quieres reemplazar el female, male por F, M

# 1. Creamos un diccionario con los valores originales y los valores de reemplazo
d = {'male' : 'M', 'female' : 'F'}

# 2. Utilizamos un lambda para el reemplazo, en una sola linea n.n
data['Sex'] = data['Sex'].apply(lambda x:d[x])

#checa el cambio
data['Sex'].head()

0    M
1    F
2    F
3    F
4    M
Name: Sex, dtype: object

In [ ]:
#Una forma mas sencilla de acceder a las columnas
data.Age

In [ ]:
# Podemos dar un vistazo a la distribucion de los datos
data.describe()

In [ ]:
# Vemos que el minimo en Fare (precio) es 0 
# Cuantos no pagaron?
data[data.Fare == 0]

In [7]:
# Agrupemos por Sobrevivencia y Sexo
pd.crosstab(data.Survived, data.Sex)

Sex         F    M
Survived
0          81  468
1         233  109

In [8]:
#Como fue la sobreviviencia por clase, sexo
pclass_gender_survival_count_df = data.groupby( ['Pclass', 'Sex'] )['Survived'].sum()
pclass_gender_survival_count_df

Pclass  Sex
1       F      91
        M      45
2       F      70
        M      17
3       F      72
        M      47
Name: Survived, dtype: int64

# Visualicemos!

In [ ]:
# Cuantos sobrevivieron

In [ ]:
import matplotlib.pyplot as plt

 
fig = plt.figure(figsize=(30,10)) #creamos un canvas o figura de 30x10 pixeles

# queremos ver un plot al costado del otro, para esto pensemos en una grilla (celdas)
plt.subplot2grid((2,3),(0,0))
data.Survived.value_counts().plot(kind='bar', alpha=0.5)
plt.title('Sobrevivieron - cuenta total -')

# Hay manera un poco mas amigable de interpretar datos....con porcentajes!
plt.subplot2grid((2,3),(0,1))
data.Survived.value_counts(normalize = True).plot(kind='bar', alpha=0.5)
plt.title('Sobrevivieron - porcentaje total -')

plt.show()

In [ ]:
#Sobrevivieron mas hombres o mas mujeres?
fig = plt.figure(figsize=(30,10))
data.Sex[data.Survived == 1].value_counts(normalize = True).plot(kind='barh', alpha=0.5, color='br')
plt.title('Sobrevivieron - Male vs Female -')
plt.show()

In [ ]:
# Que relacion hay entre sobrevivencia y edad de los sobrevivientes
fig = plt.figure(figsize=(6,8))
plt.scatter(data.Survived, data.Age, alpha=0.5, color='#808000')
plt.show()

In [ ]:
# La clase del ticket fue un factor de sobrevivencia (si viste Titanic, ya lo sabes!)
fig = plt.figure(figsize=(10,5))
#colors bgrcmykw
data.Pclass[data.Survived == 1 ].value_counts(normalize = True).plot(kind='bar', alpha=0.5, color='rby')
plt.title('Sobrevivientes por Clase de Ticket')
plt.show()

In [ ]:
# Habra alguna relacion entre tipo de ticket y edad? (Poder Adquisitivo)
fig = plt.figure(figsize=(20,10))

for t_class in [1,2,3]:
    data.Age[data.Pclass == t_class].plot(kind='kde')
    
plt.legend(("1ra. Clase", "2da. Clase", "3ra.Clase"))  
plt.show()

# La linea de la 1ra clase, nos muestra que el promedio de edad del comprador es de 40 annios
# La linea de la 3ra clase, tiene un promedio mucho mas joven

# Podriamos hacer una inferencia temprana y decir que los hombres que salvaron fueron 
# en su mayoria ricos y > 30 annios

In [ ]:
data[data.Age < 1]